* {
    font-family: Roboto, 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    flex: initial;
    flex-wrap: wrap;
}

body {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    flex-direction: column;
    gap: 50px;
    background-color: #1F2937;
    color: #F9FAF8;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    font-weight: 18px;
    padding: 20px;
}

.pages {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 15px;
}

a {
    text-decoration: none;
}

.nav-bar a {
    color: #F9FAF8;
}

.pages a {
    color: #e5e7eb;
}

.header-content {
    display: flex;
    flex-direction: row;
    padding-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: center;
}

.text {
    display: flex;
    flex-direction: column;
    width: 500px;
}

.cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    padding: 75px;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 25px;
}

.card {
    display: flex;
    flex-direction: column;
    width: 150px;
    gap: 10px;
    text-align: center;
    color: #1F2937;
}

.card img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    object-position: 25% 25%; 
    border-style: solid;
    border-color: #3882f6;
    border-radius: 15px;
}

.quote {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #e5e7eb;
    padding: 100px;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.contact {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.contact-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #3882f6;
    margin: 50px;
    height: 100px;
    width: 750px;
    border-radius: 8px;
    gap: 20px;
    color: #F9FAF8;
}

button {
    border-radius: 10px;
    background-color: #3882f6;
    border-color: #F9FAF8;
    border-style: solid;
    color: #F9FAF8;
    padding: 10px;
}

.footer {
    text-align: center;
    background-color: #1F2937;
    color: #e5e7eb;
    padding: 20px;
}